<h1> Catch</h1>
<h5> Show Page</h5>
<img src="<%= @catch.image%>" alt="picture of a fish" width="500" height="500">
<h4>Type of fish : <%=  @catch.name%> </h4>
<h3>Length : <%= @catch.length%> Inches</h3>
<h3>Weight : <%= @catch.weight%> Pounds</h3>

<form method="post" action="/catches/<%=@catch.id%>" >
<input type="hidden" name="_method" value="delete">
<input type="submit"  value="Delete this Catch">
 </form>
